<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Padrinho</title>
    <style>
        body {
            margin: 0;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            /* centraliza horizontalmente */
            align-items: center;
            /* centraliza verticalmente */
            height: 100vh;
            /* altura total da tela */
            font-size: 48px;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    VITOR, ACEITA SER NOSSO PADRINHO DE CASAMENTO?
</body>

</html>